*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;

}

.container{
    display: flex;
    align-items: center;
}

.weather-input{
    width: 25%;
    position: fixed;
    inset: 0;
  background: linear-gradient(
    180deg,
    #0f172a,
    #1e293b,
    #334155
);
    padding: 1rem 2.5rem;
}

.weather-icon{
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    display: block;
    height: 25%;
    margin: 2rem auto;
}

.input-group{
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
   
}

.input-group input {
background-color: #f8f8f8;
text-transform: capitalize;
padding: 1rem;
font-size: 0.98rem;
border-radius: 0.47rem;
width: 100%;
border: none;
outline: none;
}

.input-group .converter {
    position: absolute;
    right: 2.85rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.input-group .fa-magnifying-glass {
    position: absolute;
    right: 0.9rem;
    color: black;
    cursor: pointer;
    font-size: 1.3rem;
}

.weather-input .feelslike,
.weather-input .description,
.weather-input .date,
.weather-input .city{
    padding: 0.6rem 0 ;
     color: white;

}

.temperature{
    font-size: 5rem;
    text-align: center;
    display: flex;
    font-weight: 300;
     color: white;
}

.unit{
    font-size: 0.5em;
    vertical-align: text-top;
}

.weather-output{
    width: 75%;
    position: fixed;
    margin-left: 25%;
    inset: 0;
    padding: 2rem ;
   background: #0b1120;
    overflow: auto;

}

.weather-output h2{
    margin-bottom: 2rem;
    color: white;
}

.highlight{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 20rem);
    grid-auto-flow: row;
    row-gap: 2rem;
    column-gap: 0.6rem;
}

.highlight div {
    height: 12.5rem;
    background: #1e293b;
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.4rem;
    padding: 1rem;
}

.highlight i{
    font-size: 2.85rem;
}

.sun span {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.description i{
    font-size: 2rem;
}