*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 1000vh;

}

.container{
    display: flex;
    align-items: center;
}

.weather-input{
    width: 25%;
    position: fixed;
    inset: 0;
    background-color: #78c1f3;
    padding: 1rem 2.5rem;
}

.input-group{
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.input-group input {
background-color: #f8f8f8;
text-transform: capitalize;
padding: 1rem;
font-size: 0.98rem;
border-radius: 0.47rem;
width: 100%;
border: none;
outline: none;
}

.input-group .converter {
    position: absolute;
    right: 2.85rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.input-group .fa-magnifying-glass {
    position: absolute;
    right: 0.9rem;
    color: black;
    cursor: pointer;
    font-size: 1.3rem;
}

.weather-output{
    width: 60%;
    position: fixed;
    margin-left: 40%;
    inset: 0;
    padding: 2rem ;
    background-color: #f6f6f6;
    overflow: auto;

}

.highlight{
    width: 100;
    display: grid;
    grid-template-columns: repeat(3 , 16.9rem);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 0.6rem;
}

.highlight div {
    height: 12.5rem;
    background-color: #78c1f3;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.4rem;
    padding: 1rem;
}

.highlight i{
    font-size: 2.85rem;
}

.sun span {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
